
.banner-b{
    width: 800px;
    height: 450px;
    margin:100px  auto;
    position: relative;
    overflow: hidden;
}
.banner-inner {
    width: 3200px;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-b img{
    width: 800px;
    height: 450px;
    display: block;
    vertical-align: middle;
    float: left;
}
.banner-b .ctrlbtn a{
    display: block;
    position: absolute;
    top: 50%;
    width: 40px;
    height:100px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    margin-top: -50px;
    color: white;
    background: rgba(100,100,100,.5);
}
.prev{ right: 0; font-family: "宋体";}
.next{
    left: 0;font-family: "宋体";
}
.banner-b a:hover{
    background: rgba(255,255,255,0.5)
}
.banner-b ul{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.banner-b li{ display: inline-block; width: 10px; height: 10px; overflow: hidden; margin: 0 5px; background-color: rgba(255,255,255,.5); border-radius: 50%; z-index: 1111; cursor: pointer;}
.banner-b .active{
    background: rgba(255,255,255,1)
}